%h1 Best resources where to learn

%ul#resources
  - @resources.each do |resource|
    %li
      = link_to resource.title, resource.url, class: "url"
      
%button#alert Alert
%p This application was written using #{link_to 'Cloud9 IDE', 'https://www.c9.io/', class: "url"}